docs/n8n_integration/8figure.json
{
  "name": "8figure",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8207ace6-b840-4b56-a0e5-975eac7d3801",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3840,
        352
      ],
      "id": "55efa75f-cf13-46f5-9a43-ac2a9df162ee",
      "name": "Webhook",
      "webhookId": "8207ace6-b840-4b56-a0e5-975eac7d3801"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccce1e46-be46-41af-955b-d7203d0fd4dd",
              "name": "message_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "9e6e28c7-30cc-41ae-8e75-61473381a97f",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "f9a179c2-108b-4889-819d-7f1670f4fa81",
              "name": "phone",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "ecd30e18-9e3e-4bf7-b232-92d92ac1d3e8",
              "name": "source",
              "value": "={{ $json.body.payload.source }}",
              "type": "string"
            },
            {
              "id": "31b419a6-cdb7-442a-9655-9c0c3ad3610d",
              "name": "text_message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "7f38982b-6bd1-4e8b-bd61-ce13d04edd31",
              "name": "hasMedia",
              "value": "={{ $json.body.payload.hasMedia }}",
              "type": "string"
            },
            {
              "id": "fb06bcb0-73a6-46f9-b3de-42d8a402c77f",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "string"
            },
            {
              "id": "9c7b0a44-241f-42fd-8456-32f514aa5d25",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "68cdcec3-203a-41e4-9201-ce6bda323649",
              "name": "pushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "3519c1c6-abce-4b9e-b4d2-20bf40d3b8ec",
              "name": "messageType",
              "value": "={{ $json.body.payload._data.Info.Type }}",
              "type": "string"
            },
            {
              "id": "d374e64f-1064-4b9a-93c1-5eeb6a674aee",
              "name": "isGroup",
              "value": "={{ $json.body.payload._data.Info.IsGroup }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3600,
        352
      ],
      "id": "738fc18e-00e1-4ccd-8f24-3c59bf5d128c",
      "name": "Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd48a729-8738-4cd6-bc2d-b0d97e5bb976",
              "leftValue": "={{ $json.source }}",
              "rightValue": "api",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3376,
        352
      ],
      "id": "adebfdc4-e8e5-4b4f-b276-61e49478b298",
      "name": "Ignorar API"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb742276-81a2-4ce6-b209-baeccdaf0dc1",
              "leftValue": "={{ $json.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3120,
        368
      ],
      "id": "6cd0dc4f-3867-4c04-ac52-d24074096362",
      "name": "Ignorar Grupos"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca08a48f-efd3-4ec3-b8f4-ad95ba392f2b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f30c0185-bd69-4d5a-81cc-b189b4f16fb5",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "media",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2816,
        416
      ],
      "id": "38722b85-5365-4885-9aa6-22544e95b723",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('normalizando dados e padronizando json').item.json.message }}",
        "options": {
          "systemMessage": "=### Papel do agente\n\nVocê é um **chatbot gerenciador de tarefas**, acessado principalmente pelo **WhatsApp**, integrado ao **n8n**.\nSeu **único** objetivo é: **criar, listar, editar e deletar tarefas** usando os webhooks/endpoints disponíveis.\nVocê **não** faz small talk, **não** inventa recursos que não existem e **não** sai do tema de tarefas.\nSempre responda de forma **curta, direta e contextualizada em tarefas**.\n\n---\n\n### Fluxo de autenticação (login obrigatório)\n\n1. Quando a **primeira mensagem** do usuário for `#todoo` (ou quando o usuário ainda não tiver e-mail salvo):\n\n   * Responda com saudação curta.\n   * Peça o **e-mail** do usuário.\n   * Não chame nenhum endpoint antes de ter o e-mail.\n\n2. Quando o usuário enviar o e-mail:\n\n   * Salve em contexto como `userId` ou `user_email`.\n   * A partir daí, todas as chamadas de tarefas **devem** incluir esse `userId` no body ou query.\n   * Quando o usuário enviar o e-mail, chame a tool **Create/Get User**. Pegue o campo **userId** retornado e use esse mesmo `userId` em qualquer chamada seguinte de listar, criar, editar ou deletar.\n\n3. **Enquanto o usuário não enviar o e-mail/login:**\n\n   * Para qualquer pedido de criar/listar/editar/deletar, responda sempre com a frase-padrão (ou variação curta): **\"Antes de continuar, preciso que você me fale o seu e-mail de login para ver suas tarefas.\"**\n   * Não chame tool.\n   * Não faça outras perguntas. Apenas repita o pedido de e-mail.\n\n**Exemplo:**\n\n* Usuário: `#todoo`\n* Agente: `Olá 👋 Sou seu assistente de tarefas. Me diga seu e-mail para acessar suas listas.`\n* Usuário: `lista minhas tarefas`\n* Agente: `Antes de continuar, preciso que você me fale o seu e-mail de login para ver suas tarefas.`\n* Usuário: `joao.silva@email.com`\n* Agente: `Perfeito, João. Agora posso criar, listar, editar e apagar suas tarefas. Pode mandar.`\n\n---\n\n### Ferramentas / Endpoints disponíveis\n\nVocê tem 5 operações principais, todas devem usar o `userId` (e-mail) recebido no login.\n\n#### 0. Login (captura de e-mail)\n\n* Uso: quando ainda não há e-mail no contexto.\n* Ação: apenas armazenar o e-mail e liberar o uso das demais ferramentas.\n* Nunca chamar API aqui.\n* Resposta curta.\n\n---\n\n#### 1. Listar tarefas (WhatsApp formatado)\n\n* Quando o usuário pedir para **ver, revisar, conferir, mostrar, listar** tarefas.\n* Endpoint sugerido: `GET /api/tasks/formatted?userId={userId}`\n* Resposta esperada da API (exemplo): `message: \"📋 *Your Tasks* (3): ...\"`\n* **IMPORTANTE:** Preserve todos os **EMOJIS e símbolos** que vierem do endpoint (✅, ⬜, 📋, números, etc.), pois eles indicam status das tarefas. **Nunca remova ou troque esses emojis.**\n* O agente deve apenas **repassar de forma limpa**: \"Suas tarefas são: …\"\n* Se não houver tarefa: \"Você não tem tarefas no momento.\"\n\n**Gatilhos**: \"quais são minhas tarefas\", \"lista\", \"mostra tudo\", \"o que eu tenho pra hoje\".\n\n---\n\n#### 2. Criar tarefa (tool: **Criar Tarefa**)\n\n* Use quando o usuário pedir para **criar, adicionar, anotar, registrar**.\n* Chame o node/tool de criação com:\n\n  ```json\n  {\n    \"userId\": \"{{ $('normalizando dados e padronizando json').item.json.userId }}\",\n    \"title\": \"texto que o usuário pediu\",\n    \"description\": \"opcional, se o usuário deu mais detalhes\"\n  }\n  ```\n* Depois que a tool responder, diga algo curto: **\"Tarefa criada: ...\"**.\n\n---\n\n#### 3. Editar tarefa\n\nHá **2 tools** e o agente deve escolher uma:\n\n**a) Atualizar por índice** (`PUT /api/tasks/by-index`)\n\n* Use quando o usuário disser: \"editar 1...\", \"concluir 2\", \"marca a 3 como feita\".\n* Sempre envie:\n\n  ```json\n  {\n    \"userId\": \"{{ $('normalizando dados e padronizando json').item.json.userId }}\",\n    \"index\": 1,\n    \"title\": \"opcional\",\n    \"description\": \"opcional\",\n    \"completed\": true/false\n  }\n  ```\n* Responda: **\"Tarefa 1 atualizada.\"** ou **\"Tarefa 2 concluída.\"**\n\n**b) Atualizar por título** (`PUT /api/tasks/by-title`)\n\n* Use quando o usuário disser: \"marca 'comprar leite' como feita\", \"edita a tarefa pagar internet pra sábado\".\n* Sempre envie:\n\n  ```json\n  {\n    \"userId\": \"{{ $('normalizando dados e padronizando json').item.json.userId }}\",\n    \"title\": \"título que o usuário falou\",\n    \"description\": \"opcional\",\n    \"completed\": true/false\n  }\n  ```\n* Responda: **\"Atualizei: comprar leite.\"**\n\n---\n\n#### 4. Deletar tarefa\n\nTambém são **2 tools**:\n\n**a) Deletar por índice** (`DELETE /api/tasks/by-index?userId=...&index=...`)\n\n* Use quando o usuário disser: \"apaga a 2\", \"deleta 3\".\n* Responda: **\"Tarefa 2 apagada.\"**\n\n**b) Deletar por título** (`DELETE /api/tasks/by-title?userId=...&title=...`)\n\n* Use quando o usuário disser: \"apaga a de comprar leite\".\n* Responda: **\"Tarefa 'comprar leite' apagada.\"**\n\n---\n\n### Escolha de tool\n\n* Se o usuário pedir para **criar tarefa** → use a tool **Criar Tarefa**.\n* Se ele se referir a uma tarefa por **número (1, 2, 3...)** → use a versão **por índice** (atualizar ou deletar).\n* Se ele se referir **pelo nome** → use a versão **por título** (atualizar ou deletar).\n* **Sempre** envie o `userId` que já está no contexto (veio do Create/Get User ou do nó de normalização).\n* Depois que a tool responder, envie uma frase curta de confirmação.\n\n---\n\n### Entendimento de linguagem natural\n\n* Reconheça variações: \"anota pra mim\", \"coloca na lista\", \"me lembra de\", \"apaga essa\", \"muda aquela tarefa\", \"concluir 1\", \"done 1\".\n* Tudo deve ser mapeado para: **criar / listar / editar / deletar**.\n* Se não houver e-mail → repetir a frase-padrão de pedido de e-mail.\n\n---\n\n### Regras de comportamento\n\n1. **Direto ao ponto** — nada de mensagens longas de boas-vindas.\n2. **Sempre no contexto de tarefas** — se o assunto fugir, volte para: \"Sou seu assistente de tarefas...\".\n3. **Sempre usar tool** quando precisar de dado real.\n4. **Depois de usar a tool, resumir** com 1 frase.\n5. **Usar o e-mail (userId) em todas as chamadas.**\n6. **Ao repassar texto do `/api/tasks/formatted` preserve os emojis.**\n\n---\n\n### Mapeamento rápido\n\n* `lista`, `listar`, `minhas tarefas` → GET /api/tasks/formatted?userId={userId}\n* `adicionar ...`, `criar ...`, `anota ...` → POST /api/tasks\n* `concluir 1` → PUT /api/tasks/by-index { completed: true }\n* `concluir comprar leite` → PUT /api/tasks/by-title { completed: true }\n* `editar 1 ...` → PUT /api/tasks/by-index\n* `editar comprar leite ...` → PUT /api/tasks/by-title\n* `deletar 1`, `apagar 1` → DELETE /api/tasks/by-index\n* `deletar comprar leite` → DELETE /api/tasks/by-title\n* `#todoo` → pedir e-mail e repetir até o e-mail chegar\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3072,
        480
      ],
      "id": "237f01ed-9527-4602-84ed-b9fdf73b002c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2896,
        640
      ],
      "id": "3cb12646-a523-41b0-9400-0c22ce1157f3",
      "name": "GPT 4.1 MINI",
      "credentials": {
        "openAiApi": {
          "id": "S8C9EqEheMgC23NK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} chat-memory",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3136,
        128
      ],
      "id": "c4c7522f-51a1-48f3-9458-24267f531ab1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9LekMEJb4zmLo0Um",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.phone }}",
        "messageId": "=",
        "participant": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        4048,
        240
      ],
      "id": "1fc1c48c-69f4-4d8a-a1a4-49ffee154964",
      "name": "Visualizar",
      "credentials": {
        "wahaApi": {
          "id": "TNYnuCM1Qs9hQFj2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.phone }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        4720,
        496
      ],
      "id": "38d9d73e-68ab-4bac-8543-604eeee02304",
      "name": "Digitar",
      "credentials": {
        "wahaApi": {
          "id": "TNYnuCM1Qs9hQFj2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4928,
        496
      ],
      "id": "825e18d2-8f4d-4449-82e9-3eed4ec79246",
      "name": "Esperar 3 Segundos",
      "webhookId": "417d9b91-a6c0-4d9a-a36f-26747e718fe3"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.phone }}",
        "text": "={{ $('Loop Over Items').item.json.message }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        5152,
        496
      ],
      "id": "e95563fe-202c-4c79-943a-aeb5abd0da5b",
      "name": "Responder",
      "credentials": {
        "wahaApi": {
          "id": "TNYnuCM1Qs9hQFj2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcf8dd71-fa09-4cc6-8af7-ff5e9eecb645",
              "name": "message",
              "value": "={{ $('Dados').item.json.text_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2064,
        304
      ],
      "id": "5e14de35-2291-450d-951b-b3757739f4de",
      "name": "Mensagem de Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9291f684-08e3-45c6-bf3b-2bfdc4c18c4f",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        400
      ],
      "id": "1919408f-0507-48c4-96ff-8c58da33b756",
      "name": "Mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6ef772b-42f6-4535-a59f-dbfc91fe942d",
              "name": "mimeType",
              "value": "={{ $('Webhook').item.json.body.payload.media.mimetype }}",
              "type": "string"
            },
            {
              "id": "32a465b4-b6c2-4309-89d8-cc911a87ef93",
              "name": "URL",
              "value": "={{ $('Webhook').item.json.body.payload.media.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2608,
        544
      ],
      "id": "83d6a90d-7b67-4d24-9537-a0dbb641da76",
      "name": "Dados Mídia"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "audio/ogg; codecs=opus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a0987288-c68f-4d23-b9d9-8ed56bca0af0"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2448,
        544
      ],
      "id": "93a96c2b-a11f-4e10-8418-6d805f88cb5e",
      "name": "Tipo de mídia"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2288,
        544
      ],
      "id": "116aae47-fdd6-4af6-957b-abdf0bd70ce9",
      "name": "Baixar Áudio",
      "credentials": {
        "wahaApi": {
          "id": "TNYnuCM1Qs9hQFj2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2128,
        544
      ],
      "id": "d9dcc3ed-4f4e-4201-bad2-f28764955757",
      "name": "Transcrever",
      "credentials": {
        "openAiApi": {
          "id": "S8C9EqEheMgC23NK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20afc81e-c68d-419d-b3a4-adc6e4577180",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1968,
        544
      ],
      "id": "9066441a-14e0-4b70-b0b6-a4759005bcd0",
      "name": "Mensagem de Áudio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b3da795-2526-4c5a-9d0b-3a58a23a5be8",
              "leftValue": "={{ $('Dados').item.json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        304
      ],
      "id": "5c84a022-26d6-4cad-b66f-07630a58d713",
      "name": "fromMe?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} block",
        "value": "true",
        "expire": true,
        "ttl": 3000
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -640,
        144
      ],
      "id": "71afae47-431c-4caa-9735-3756817c95ff",
      "name": "Chave Block",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('Mensagem').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -272,
        192
      ],
      "id": "82007aa2-7ecd-4fc4-a74c-68a4e46d700e",
      "name": "Inserir mensagem do atendente"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -688,
        448
      ],
      "id": "319f12fe-4294-4a79-9c4d-b11f6f930409",
      "name": "Buscar Chave Block",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3a9f09df-a844-4c86-9a6c-0c0bc4286ca5",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        480
      ],
      "id": "3ce7f128-294c-4eed-8df8-5bdab1c4c87e",
      "name": "isBlocked?"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('Mensagem').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "b6540ad9-463e-4d25-8bd4-a8c3dd244560",
      "name": "Inserir mensagem do cliente"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} temp",
        "messageData": "={{ $('Mensagem').item.json.message }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        48,
        512
      ],
      "id": "0e317412-da0c-44c9-9e2c-0551c02209fd",
      "name": "Mensagem temporária",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        512
      ],
      "id": "5ed380b3-f808-4a36-be8d-25902a94a79a",
      "name": "10 Segundos",
      "webhookId": "a543df4f-b76d-4723-b89f-5b3a3e93361c"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} temp",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        496,
        512
      ],
      "id": "75f1ff47-d492-41e6-8cac-97b3ff6c040d",
      "name": "Mensagens",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93ebf58b-7dba-4d78-8cf0-c341ac7c2aab",
              "leftValue": "={{ $('Mensagem').item.json.message }}",
              "rightValue": "={{ $json.messages.last() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        512
      ],
      "id": "02f06a7f-b16f-4db5-a02d-505f68d8b1f5",
      "name": "Última mensagem?"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} temp"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        992,
        480
      ],
      "id": "c3209c43-469b-4be2-a6eb-30a957215bf7",
      "name": "Excluir lista temporária",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c323662d-6cce-4c9b-92b0-ce3ccff643c3",
              "name": "message",
              "value": "={{ $json.messages.join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        464
      ],
      "id": "7a4c376a-e0fb-4adb-ba81-45d9333d251a",
      "name": "Mensagem final"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3648,
        640
      ],
      "id": "501cd739-ba98-49df-bf28-acb112419bae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "S8C9EqEheMgC23NK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Formate e separe a seguinte mensagem:\n\n{{ $('AI Agent').item.json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Formate e separe a seguinte mensagem:\n\n{{ $('AI Agent').item.json.output }}\n\nPor favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splittedMessage\",\n    \"splittedMessage\"\n  ]\n}\n\nRegras:\n\n1. Preserve todos os EMOJIS e símbolos que já vierem no texto original (como ✅, ⬜, 📋), pois eles indicam status das tarefas.\n2. NÃO reescreva o conteúdo das tarefas. Não invente textos, não traduza, não reordene.\n3. Você pode remover apenas marcação de negrito/itálico em markdown (`*assim*`, `_assim_`) se isso estiver atrapalhando a leitura, mas mantenha o texto e os emojis.\n4. Divida o texto original por mensagens, de forma legível para WhatsApp.\n5. Se o texto já for curto, devolva só 1 mensagem no array.\n6. A resposta deve conter **apenas** o JSON válido, exatamente com a chave \"messages\" na raiz.\n7. Cada item do array deve ser uma string simples.\n8. Não altere links, se existirem.\n\nExemplo de saída:\n{\n  \"messages\": [\n    \"📋 Suas tarefas (3):\",\n    \"1. ⬜ buy a coffee ...\",\n    \"2. ⬜ comprar roupa de ano novo branca\",\n    \"3. ✅ teste ...\"\n  ]\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3648,
        480
      ],
      "id": "15c75797-446a-4d7b-8bf5-3529211ac670",
      "name": "Output Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "message"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4000,
        480
      ],
      "id": "7bb15b83-050d-415e-9ea5-fc134b9749f8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4416,
        480
      ],
      "id": "f4fdd8e7-b501-41be-9f99-7a4fc2d3ddb0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const mensagens = item.json.messages || [];\n  \n  // Remove duplicados\n  const unicos = [...new Set(mensagens)];\n\n  // Retorna com a array limpa\n  return {\n    json: {\n      ...item.json,\n      messages: unicos\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        480
      ],
      "id": "b23687f7-5d96-4e97-9934-96700b30bc9d",
      "name": "Removendo Duplicatas"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3824,
        640
      ],
      "id": "19796fed-0cb8-4b65-9006-46803dedb6e6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const vistos = new Set();\n\n// Filtra itens únicos com base em item.json.message\nconst mensagensUnicas = items.filter(item => {\n  const texto = item.json.message;\n  if (vistos.has(texto)) return false;\n  vistos.add(texto);\n  return true;\n});\n\n// Retorna apenas objetos com { message: \"...\" }\nreturn mensagensUnicas.map(item => ({\n  json: {\n    message: item.json.message\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        480
      ],
      "id": "c82c3ec0-69f2-42e3-bffe-074697d9eec1",
      "name": "Remover mensagens duplicadas do agente"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3712,
        224
      ],
      "id": "34b01e85-0f87-4883-8c38-10d0a61d709b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bd8caa3-08f7-4182-bc85-7357ac966df3",
              "leftValue": "={{ $json.output }}",
              "rightValue": "#FIM",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3392,
        480
      ],
      "id": "d0a4c437-acaf-433d-adb1-6980ff3e5fdf",
      "name": "Ultima Mensagem?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62eff2fa-c496-4266-86a5-4eefbdd700c4",
              "leftValue": "={{ $('Mensagem de Texto').item.json.message }}",
              "rightValue": "#todoo",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3030cba9-7cde-43fe-baf9-c40833eb6fe9",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        400
      ],
      "id": "08f18aa3-a37e-48f5-b7d6-235c75bc755d",
      "name": "command word?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} talk",
        "value": "true",
        "expire": true,
        "ttl": 3000
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1232,
        160
      ],
      "id": "6f11228d-733a-44dd-bfcb-3830be8673bc",
      "name": "É a palavra chave começa a contagem",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "canSpeak",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} talk",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1344,
        512
      ],
      "id": "bc099da3-b220-4dd5-9deb-b0a78cfeede5",
      "name": "Verifica Se a palavra ainda tem validade",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4c4d003-ea37-4a49-a190-2c43a80ced3e",
              "leftValue": "={{ $json.canSpeak }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        512
      ],
      "id": "2b3e0790-a98f-4ebc-9d60-26b910ddb2da",
      "name": "Plavra ainda existe?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -912,
        592
      ],
      "id": "223f1fc9-8397-47a4-b91b-42072a0b2be3",
      "name": "Não faça nada: Se mantenha em silencio"
    },
    {
      "parameters": {
        "toolDescription": "chamar o endpoint já formatado pro WhatsApp.",
        "url": "https://8-figure-agency.vercel.app/api/tasks/formatted",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $('normalizando dados e padronizando json').item.json.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2896,
        880
      ],
      "id": "a4bf2153-94c5-440d-b949-4f12532424de",
      "name": "Listar Tarefas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8f2de595-8ac2-4d38-b60c-4f8259d3d62b",
              "leftValue": "={{ $('normalizando dados e padronizando json').item.json.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        464
      ],
      "id": "adcdeb8f-899b-4373-a0e0-a94d6cf6924a",
      "name": "Usuário existe?"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "userId",
        "key": "={{ $('Dados').item.json.phone }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1616,
        464
      ],
      "id": "0d266df8-d8eb-454b-a080-f63348f9c32f",
      "name": "GetReddisUser",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4acc5bff-9a50-4b06-a5e0-b9adb8903f15",
              "leftValue": "={{ $('Mensagem final').item.json.message }}",
              "rightValue": "^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2256,
        544
      ],
      "id": "61b8fdb1-5401-4596-89ad-4776d368e72e",
      "name": "Essa mensagem é um Email?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados').item.json.phone }}",
        "value": "={{ JSON.stringify({ userId: $json.id, email: $json.email }) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2656,
        320
      ],
      "id": "7ea8794e-1901-47fa-a869-d48c3b19f38d",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "558183772043@c.us"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1872,
        224
      ],
      "id": "b8ed6a70-5804-4103-b294-5e1bb87bfdf9",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "558183772043@c.us",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1664,
        240
      ],
      "id": "7c55720f-13f2-42ad-9f21-af8dd17dd339",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1110bcf7-cbb3-4500-a30c-ace61ab1a1bd",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "21251dca-7cbb-408f-be6d-64867e2d1d13",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        336
      ],
      "id": "24afaad4-9fb5-4401-80cc-edb4e9486a70",
      "name": "Normalizar dados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d970719e-7376-4b88-9aed-1f7d8f5953cf",
              "name": "userId",
              "value": "={{ JSON.parse($json.userId).userId }}",
              "type": "string"
            },
            {
              "id": "3f155522-5897-41c0-a661-a402ba8fd18e",
              "name": "email",
              "value": "={{ JSON.parse($json.userId).email }}",
              "type": "string"
            },
            {
              "id": "9accf1d8-62a5-4d2f-9085-3bff29b43b4d",
              "name": "message",
              "value": "={{ $('Mensagem final').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        464
      ],
      "id": "02c93dbe-512e-4a00-ae4a-27c32b804ce3",
      "name": "normalizando dados e padronizando json"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://8-figure-agency.vercel.app/api/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"luizhlimagomes28@gmail.com\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        320
      ],
      "id": "805658de-6054-4ea0-8271-94277574d82c",
      "name": "Login"
    },
    {
      "parameters": {
        "toolDescription": "Cria uma nova tarefa para o usuário autenticado.\nSempre envie userId que já está no contexto.\nCampo obrigatório: title.\nSe o usuário falar só “cria tarefa pagar aluguel”, use isso como title.\nSe o usuário der mais detalhes, coloque no description.\n\n",
        "method": "POST",
        "url": "https://8-figure-agency.vercel.app/api/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"userId\": \"{{ $('normalizando dados e padronizando json').item.json.userId }}\",\n  \"title\": \"{{ (() => {\n  // tenta pegar o texto bruto que o agente mandou\n  const raw =\n    $json.output ??\n    $json.message ??\n    $json.text ??\n    $json.title ??\n    '';\n\n  // se não tiver nada mesmo, devolve vazio\n  if (!raw) return '';\n\n  // tenta ver se é um JSON string\n  try {\n    const obj = JSON.parse(raw);\n    // se tiver title no JSON, usa\n    if (obj.title) return obj.title;\n    // se não tiver, mas tem message, usa\n    if (obj.message) return obj.message;\n    return raw;\n  } catch (e) {\n    // não era JSON, usa o texto direto\n    return raw;\n  }\n})() }}\",\n  \"description\": \"{{ (() => { try { return JSON.parse($json.output).description || '' } catch (e) { return '' } })() }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3040,
        832
      ],
      "id": "017af7e8-62a4-4433-9c1a-891e3c2e87e6",
      "name": "Create Task"
    },
    {
      "parameters": {
        "toolDescription": "Atualiza uma tarefa pela posição da lista (1, 2, 3...).\nUse este endpoint quando o usuário disser algo como “editar 1…”, “muda a 2 pra concluída”, “concluir 3”.\nSempre envie userId.\nSe o usuário só quiser marcar como feita, envie \"completed\": true.\nSe ele disser “marcar 2 como pendente”, envie \"completed\": false.",
        "method": "PUT",
        "url": "https://8-figure-agency.vercel.app/api/tasks/by-index",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"userId\": \"{{ $('normalizando dados e padronizando json').item.json.userId }}\",\n  \"index\": {{ (() => {\n    const raw = $json.output ?? $json.message ?? $json.text ?? '';\n    // 1) tenta JSON\n    try {\n      const o = JSON.parse(raw);\n      if (o.index) return Number(o.index);\n    } catch (e) {}\n    // 2) tenta achar número no texto\n    const m = String(raw).match(/\\b(\\d+)\\b/);\n    return m ? Number(m[1]) : 1;\n  })() }},\n  \"title\": \"{{ (() => {\n    const raw = $json.output ?? $json.message ?? $json.text ?? '';\n    if (!raw) return '';\n    try {\n      const o = JSON.parse(raw);\n      if (o.title) return o.title;\n      if (o.message) return o.message;\n      return raw;\n    } catch (e) {\n      return raw;\n    }\n  })() }}\",\n  \"description\": \"{{ (() => {\n    const raw = $json.output ?? $json.message ?? $json.text ?? '';\n    if (!raw) return '';\n    try {\n      const o = JSON.parse(raw);\n      return o.description || '';\n    } catch (e) {\n      return '';\n    }\n  })() }}\",\n  \"completed\": {{ (() => {\n    const raw = $json.output ?? $json.message ?? $json.text ?? '';\n    // se vier JSON com completed\n    try {\n      const o = JSON.parse(raw);\n      if (typeof o.completed === 'boolean') return o.completed;\n    } catch (e) {}\n    // se no texto tiver \"concluir\", \"feito\", \"done\" -> true\n    const txt = String(raw).toLowerCase();\n    if (txt.includes('concluir') || txt.includes('feito') || txt.includes('done')) return true;\n    return false;\n  })() }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3168,
        896
      ],
      "id": "7e86bdd4-c180-49d4-ae1a-31e5f381bb0a",
      "name": "Edit / Update"
    },
    {
      "parameters": {
        "toolDescription": "Atualiza uma tarefa pelo nome/título.\nUse quando o usuário disser “marca ‘comprar leite’ como feita”, “edita a tarefa pagar internet pra sábado”.\nSempre envie userId.\nSe o usuário só quiser concluir, envie \"completed\": true.\nSe ele mudar o texto, envie em description.",
        "method": "PUT",
        "url": "https://8-figure-agency.vercel.app/api/tasks/by-title",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"userId\": \"{{ $('normalizando dados e padronizando json').item.json.userId }}\",\n  \"title\": \"{{ (() => {\n    const raw = $json.output ?? $json.message ?? $json.text ?? '';\n    if (!raw) return '';\n    try {\n      const o = JSON.parse(raw);\n      if (o.title) return o.title;\n      return raw;\n    } catch (e) {\n      return raw;\n    }\n  })() }}\",\n  \"description\": \"{{ (() => {\n    const raw = $json.output ?? $json.message ?? $json.text ?? '';\n    if (!raw) return '';\n    try {\n      const o = JSON.parse(raw);\n      return o.description || '';\n    } catch (e) {\n      return '';\n    }\n  })() }}\",\n  \"completed\": {{ (() => {\n    const raw = $json.output ?? $json.message ?? $json.text ?? '';\n    try {\n      const o = JSON.parse(raw);\n      if (typeof o.completed === 'boolean') return o.completed;\n    } catch (e) {}\n    const txt = String(raw).toLowerCase();\n    if (txt.includes('concluir') || txt.includes('feito') || txt.includes('done')) return true;\n    return false;\n  })() }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3328,
        848
      ],
      "id": "f0a73bd4-8d5e-42d4-bcd4-b7874f7ab33f",
      "name": "Update by Title"
    },
    {
      "parameters": {
        "toolDescription": "Remove uma tarefa pela posição dela na lista.\nUse quando o usuário disser “apaga a 2”, “deleta 3”.\nSempre mande userId e index.",
        "method": "DELETE",
        "url": "https://8-figure-agency.vercel.app/api/tasks/by-index",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $('normalizando dados e padronizando json').item.json.userId }}\n"
            },
            {
              "name": "index",
              "value": "={{ (() => {\n  const raw = $json.output ?? $json.message ?? $json.text ?? '';\n  try {\n    const o = JSON.parse(raw);\n    if (o.index) return o.index;\n  } catch (e) {}\n  const m = String(raw).match(/\\b(\\d+)\\b/);\n  return m ? m[1] : 1;\n})() }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3472,
        912
      ],
      "id": "3d9572da-d995-4676-85da-a2575c129b75",
      "name": "Delete"
    },
    {
      "parameters": {
        "toolDescription": "Remove uma tarefa pelo nome.\nUse quando o usuário disser “apaga a de comprar leite”, “deleta ligar para João”.\nSempre mande userId e o title que o usuário falou.",
        "method": "DELETE",
        "url": "https://8-figure-agency.vercel.app/api/tasks/by-title",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $('normalizando dados e padronizando json').item.json.userId }}\n"
            },
            {
              "name": "title",
              "value": "={{ (() => {\n  const raw = $json.output ?? $json.message ?? $json.text ?? '';\n  if (!raw) return '';\n  try {\n    const o = JSON.parse(raw);\n    if (o.title) return o.title;\n    return raw;\n  } catch (e) {\n    return raw;\n  }\n})() }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3616,
        880
      ],
      "id": "ab7b5f09-68dc-4c13-bfae-72a3f90b00e7",
      "name": "Delete by Title"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Ignorar API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignorar API": {
      "main": [
        [],
        [
          {
            "node": "Ignorar Grupos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignorar Grupos": {
      "main": [
        [],
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Mensagem de Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dados Mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1 MINI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Inserir mensagem do atendente",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Inserir mensagem do cliente",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Ultima Mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digitar": {
      "main": [
        [
          {
            "node": "Esperar 3 Segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 3 Segundos": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Texto": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem": {
      "main": [
        [
          {
            "node": "command word?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Mídia": {
      "main": [
        [
          {
            "node": "Tipo de mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mídia": {
      "main": [
        [
          {
            "node": "Baixar Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio": {
      "main": [
        [
          {
            "node": "Transcrever",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever": {
      "main": [
        [
          {
            "node": "Mensagem de Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Áudio": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fromMe?": {
      "main": [
        [
          {
            "node": "Chave Block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Chave Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chave Block": {
      "main": [
        [
          {
            "node": "Inserir mensagem do atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Chave Block": {
      "main": [
        [
          {
            "node": "isBlocked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isBlocked?": {
      "main": [
        [
          {
            "node": "Inserir mensagem do cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem temporária": {
      "main": [
        [
          {
            "node": "10 Segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Segundos": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Última mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Última mensagem?": {
      "main": [
        [
          {
            "node": "Excluir lista temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluir lista temporária": {
      "main": [
        [
          {
            "node": "Removendo Duplicatas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem final": {
      "main": [
        [
          {
            "node": "GetReddisUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Visualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remover mensagens duplicadas do agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Digitar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Removendo Duplicatas": {
      "main": [
        [
          {
            "node": "Mensagem final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Remover mensagens duplicadas do agente": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ultima Mensagem?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output Parser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "command word?": {
      "main": [
        [
          {
            "node": "É a palavra chave começa a contagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica Se a palavra ainda tem validade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É a palavra chave começa a contagem": {
      "main": [
        [
          {
            "node": "fromMe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Se a palavra ainda tem validade": {
      "main": [
        [
          {
            "node": "Plavra ainda existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plavra ainda existe?": {
      "main": [
        [
          {
            "node": "fromMe?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada: Se mantenha em silencio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Tarefas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Usuário existe?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Essa mensagem é um Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetReddisUser": {
      "main": [
        [
          {
            "node": "normalizando dados e padronizando json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Essa mensagem é um Email?": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Normalizar dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar dados": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizando dados e padronizando json": {
      "main": [
        [
          {
            "node": "Usuário existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit / Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update by Title": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete by Title": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7d07e820-e798-499a-b4e8-ef4fe1ab8a9f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92edcd34644deb24b8d793def5fd08ce4a89ec3cdad4e6fe6071ff4c82b9e4c2"
  },
  "id": "bMKecDsgT7ySAWX7",
  "tags": []
}