docs/n8n_integration/8figure.json
{
  "name": "8figure",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8207ace6-b840-4b56-a0e5-975eac7d3801",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4032,
        352
      ],
      "id": "55efa75f-cf13-46f5-9a43-ac2a9df162ee",
      "name": "Webhook",
      "webhookId": "8207ace6-b840-4b56-a0e5-975eac7d3801"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccce1e46-be46-41af-955b-d7203d0fd4dd",
              "name": "message_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "9e6e28c7-30cc-41ae-8e75-61473381a97f",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "f9a179c2-108b-4889-819d-7f1670f4fa81",
              "name": "phone",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "ecd30e18-9e3e-4bf7-b232-92d92ac1d3e8",
              "name": "source",
              "value": "={{ $json.body.payload.source }}",
              "type": "string"
            },
            {
              "id": "31b419a6-cdb7-442a-9655-9c0c3ad3610d",
              "name": "text_message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "7f38982b-6bd1-4e8b-bd61-ce13d04edd31",
              "name": "hasMedia",
              "value": "={{ $json.body.payload.hasMedia }}",
              "type": "string"
            },
            {
              "id": "fb06bcb0-73a6-46f9-b3de-42d8a402c77f",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "string"
            },
            {
              "id": "9c7b0a44-241f-42fd-8456-32f514aa5d25",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "68cdcec3-203a-41e4-9201-ce6bda323649",
              "name": "pushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "3519c1c6-abce-4b9e-b4d2-20bf40d3b8ec",
              "name": "messageType",
              "value": "={{ $json.body.payload._data.Info.Type }}",
              "type": "string"
            },
            {
              "id": "d374e64f-1064-4b9a-93c1-5eeb6a674aee",
              "name": "isGroup",
              "value": "={{ $json.body.payload._data.Info.IsGroup }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3808,
        352
      ],
      "id": "738fc18e-00e1-4ccd-8f24-3c59bf5d128c",
      "name": "Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd48a729-8738-4cd6-bc2d-b0d97e5bb976",
              "leftValue": "={{ $json.source }}",
              "rightValue": "api",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3376,
        352
      ],
      "id": "adebfdc4-e8e5-4b4f-b276-61e49478b298",
      "name": "Ignorar API"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb742276-81a2-4ce6-b209-baeccdaf0dc1",
              "leftValue": "={{ $json.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3120,
        368
      ],
      "id": "6cd0dc4f-3867-4c04-ac52-d24074096362",
      "name": "Ignorar Grupos"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ca08a48f-efd3-4ec3-b8f4-ad95ba392f2b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f30c0185-bd69-4d5a-81cc-b189b4f16fb5",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "media",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2816,
        416
      ],
      "id": "38722b85-5365-4885-9aa6-22544e95b723",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=Papel do agente\nVocê é um chatbot gerenciador de tarefas, acessado principalmente pelo WhatsApp.\nSeu único objetivo é ajudar o usuário a criar, listar, editar e deletar tarefas usando as tools (webhooks) disponíveis.\nSeja direto, objetivo e sempre dentro do contexto de tarefas.\nVocê NÃO faz small talk extensa, não inventa recursos que não existem e não sai do tema de gerenciamento de tarefas.\n\nFerramentas disponíveis\nVocê terá 4 tools (webhooks) conectadas pelo n8n à aplicação de tarefas:\n\n\nListar tarefas\n\n\nUso: quando o usuário pedir para ver, revisar, conferir ou listar tarefas.\n\n\nEx.: \"Quais são minhas tarefas?\", \"Lista tudo\", \"O que eu tenho pra hoje?\"\n\n\n\n\nCriar tarefa\n\n\nUso: quando o usuário pedir para adicionar ou registrar uma tarefa.\n\n\nDeve enviar para o endpoint:\n\n\ndescrição da tarefa (obrigatório)\n\n\noutros campos, se existirem (ex: data, prioridade), quando o usuário mencionar.\n\n\n\n\nEx.: \"Cria uma tarefa: pagar o aluguel amanhã\", \"Adicionar: ligar para João às 15h\"\n\n\n\n\nEditar tarefa\n\n\nUso: quando o usuário quiser alterar uma tarefa existente.\n\n\nIdentificação da tarefa:\n\n\nPreferir ID, se o usuário informar.\n\n\nSe ele informar apenas o texto (“edita a tarefa pagar cartão para pagar amanhã”), usar o conteúdo para localizar.\n\n\n\n\nPode alterar descrição, data, status ou outros campos conforme suportado.\n\n\nSe houver ambiguidade (ex: várias tarefas com descrições parecidas), pergunte de forma objetiva qual delas ele quer.\n\n\n\n\nDeletar tarefa\n\n\nUso: quando o usuário pedir para remover, excluir ou apagar uma tarefa.\n\n\nIdentificação da tarefa:\n\n\nPreferir ID, se o usuário informar.\n\n\nOu utilizar parte da descrição.\n\n\n\n\nEm caso de ambiguidade, peça confirmação objetiva antes de deletar.\n\n\n\n\n\nComportamento e estilo\n\n\nDireto ao ponto\n\n\nRespostas curtas e claras.\n\n\nSem enrolação, sem floreio.\n\n\nEx.:\n\n\n✅ \"Tarefa criada: pagar boleto amanhã.\"\n\n\n✅ \"Encontrei 3 tarefas parecidas. Qual você quer editar? 1)… 2)… 3)…\"\n\n\n⛔ \"Olá! Espero que você esteja tendo um dia incrível! Vamos lá gerenciar suas tarefas ✨\"\n\n\n\n\n\n\nSempre no contexto\n\n\nSe o usuário perguntar algo fora de tarefas, responda brevemente redirecionando:\n\n\n\"Sou seu assistente de tarefas. Posso criar, listar, editar ou remover tarefas para você.\"\n\n\n\n\n\n\nUso das tools\n\n\nSempre que precisar de dados reais (listar, criar, editar ou deletar), use a tool correspondente.\n\n\nNunca invente tarefas, IDs ou estados. Dependa sempre da resposta dos endpoints.\n\n\nDepois de usar uma tool, resuma o resultado para o usuário de forma clara.\n\n\n\n\nEntendimento de linguagem natural\n\n\nReconheça variações comuns:\n\n\n\"anota pra mim\", \"me lembra de\", \"coloca na lista\", \"apaga essa\", \"muda aquela tarefa\", \"mostra minhas tarefas\".\n\n\n\n\nSe faltar informação mínima para executar (ex.: “edita aquela tarefa”), faça apenas uma pergunta objetiva para completar:\n\n\n\"Qual tarefa você quer editar? Me diga o nome ou ID.\"\n\n\n\n\nNão faça uma sequência longa de perguntas. Seja eficiente.\n\n\n\n\nIdentificação de tarefas\n\n\nQuando listar tarefas, inclua:\n\n\nID (se existir)\n\n\ndescrição\n\n\ninfo relevante (data, status, etc. se o endpoint retornar).\n\n\n\n\nAo editar ou deletar, tente sempre usar:\n\n\nID exato, ou\n\n\ncombinação de descrição + contexto do usuário, e confirme se necessário.\n\n\n\n\n\n\n\nExemplos de comportamento\nUsuário: \"Cria uma tarefa: pagar internet na sexta\"\nAgente: (usa tool de criar tarefa)\nAgente (ao usuário): \"Tarefa criada: pagar internet na sexta.\"\nUsuário: \"Lista todas as minhas tarefas\"\nAgente: (usa tool de listar tarefas)\nAgente (ao usuário):\n\"Suas tarefas atuais são:\n\n\n[ID 12] Pagar internet na sexta\n\n\n[ID 13] Ligar para João\"\n\n\nUsuário: \"Edita a tarefa pagar internet para sábado\"\nAgente:\n\n\nSe encontrar tarefa única correspondente:\n\n\n(usa tool de editar)\n\n\n\"Atualizei: pagar internet para sábado.\"\n\n\n\n\nSe encontrar várias semelhantes:\n\n\n\"Encontrei mais de uma tarefa com nome parecido. Me diga o ID da tarefa que você quer editar.\"\n\n\n\n\nUsuário: \"Apaga a tarefa de ligar para João\"\nAgente:\n\n\nSe encontrar uma única tarefa correspondente:\n\n\n(usa tool de deletar)\n\n\n\"Tarefa 'Ligar para João' deletada.\"\n\n\n\n\nSe houver dúvida:\n\n\n\"Achei mais de uma tarefa parecida. Me informa o ID ou detalhe da tarefa que quer apagar.\"\n\n\n\n\n\nUse sempre esse padrão:\n\n\nEntender a intenção →\n\n\nAcionar a tool correspondente via n8n →\n\n\nResponder de forma curta, clara e focada em tarefas.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1696,
        464
      ],
      "id": "237f01ed-9527-4602-84ed-b9fdf73b002c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        704
      ],
      "id": "3cb12646-a523-41b0-9400-0c22ce1157f3",
      "name": "GPT 4.1 MINI",
      "credentials": {
        "openAiApi": {
          "id": "S8C9EqEheMgC23NK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} chat-memory",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1792,
        144
      ],
      "id": "c4c7522f-51a1-48f3-9458-24267f531ab1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9LekMEJb4zmLo0Um",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.phone }}",
        "messageId": "=",
        "participant": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2848,
        224
      ],
      "id": "1fc1c48c-69f4-4d8a-a1a4-49ffee154964",
      "name": "Visualizar",
      "credentials": {
        "wahaApi": {
          "id": "TNYnuCM1Qs9hQFj2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Start Typing",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.phone }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        3680,
        480
      ],
      "id": "38d9d73e-68ab-4bac-8543-604eeee02304",
      "name": "Digitar",
      "credentials": {
        "wahaApi": {
          "id": "TNYnuCM1Qs9hQFj2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3888,
        480
      ],
      "id": "825e18d2-8f4d-4449-82e9-3eed4ec79246",
      "name": "Esperar 3 Segundos",
      "webhookId": "417d9b91-a6c0-4d9a-a36f-26747e718fe3"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.phone }}",
        "text": "={{ $('Loop Over Items').item.json.message }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        4112,
        480
      ],
      "id": "e95563fe-202c-4c79-943a-aeb5abd0da5b",
      "name": "Responder",
      "credentials": {
        "wahaApi": {
          "id": "TNYnuCM1Qs9hQFj2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcf8dd71-fa09-4cc6-8af7-ff5e9eecb645",
              "name": "message",
              "value": "={{ $('Dados').item.json.text_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2064,
        304
      ],
      "id": "5e14de35-2291-450d-951b-b3757739f4de",
      "name": "Mensagem de Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9291f684-08e3-45c6-bf3b-2bfdc4c18c4f",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        400
      ],
      "id": "1919408f-0507-48c4-96ff-8c58da33b756",
      "name": "Mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6ef772b-42f6-4535-a59f-dbfc91fe942d",
              "name": "mimeType",
              "value": "={{ $('Webhook').item.json.body.payload.media.mimetype }}",
              "type": "string"
            },
            {
              "id": "32a465b4-b6c2-4309-89d8-cc911a87ef93",
              "name": "URL",
              "value": "={{ $('Webhook').item.json.body.payload.media.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2608,
        544
      ],
      "id": "83d6a90d-7b67-4d24-9537-a0dbb641da76",
      "name": "Dados Mídia"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "audio/ogg; codecs=opus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a0987288-c68f-4d23-b9d9-8ed56bca0af0"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2448,
        544
      ],
      "id": "93a96c2b-a11f-4e10-8418-6d805f88cb5e",
      "name": "Tipo de mídia"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.URL }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wahaApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2288,
        544
      ],
      "id": "116aae47-fdd6-4af6-957b-abdf0bd70ce9",
      "name": "Baixar Áudio",
      "credentials": {
        "wahaApi": {
          "id": "TNYnuCM1Qs9hQFj2",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2128,
        544
      ],
      "id": "d9dcc3ed-4f4e-4201-bad2-f28764955757",
      "name": "Transcrever",
      "credentials": {
        "openAiApi": {
          "id": "S8C9EqEheMgC23NK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20afc81e-c68d-419d-b3a4-adc6e4577180",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1968,
        544
      ],
      "id": "9066441a-14e0-4b70-b0b6-a4759005bcd0",
      "name": "Mensagem de Áudio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b3da795-2526-4c5a-9d0b-3a58a23a5be8",
              "leftValue": "={{ $('Dados').item.json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        304
      ],
      "id": "5c84a022-26d6-4cad-b66f-07630a58d713",
      "name": "fromMe?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} block",
        "value": "true",
        "expire": true,
        "ttl": 3000
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -640,
        144
      ],
      "id": "71afae47-431c-4caa-9735-3756817c95ff",
      "name": "Chave Block",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('Mensagem').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -272,
        192
      ],
      "id": "82007aa2-7ecd-4fc4-a74c-68a4e46d700e",
      "name": "Inserir mensagem do atendente"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -688,
        448
      ],
      "id": "319f12fe-4294-4a79-9c4d-b11f6f930409",
      "name": "Buscar Chave Block",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3a9f09df-a844-4c86-9a6c-0c0bc4286ca5",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        480
      ],
      "id": "3ce7f128-294c-4eed-8df8-5bdab1c4c87e",
      "name": "isBlocked?"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('Mensagem').item.json.message }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "b6540ad9-463e-4d25-8bd4-a8c3dd244560",
      "name": "Inserir mensagem do cliente"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} temp",
        "messageData": "={{ $('Mensagem').item.json.message }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        48,
        512
      ],
      "id": "0e317412-da0c-44c9-9e2c-0551c02209fd",
      "name": "Mensagem temporária",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        512
      ],
      "id": "5ed380b3-f808-4a36-be8d-25902a94a79a",
      "name": "10 Segundos",
      "webhookId": "a543df4f-b76d-4723-b89f-5b3a3e93361c"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} temp",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        496,
        512
      ],
      "id": "75f1ff47-d492-41e6-8cac-97b3ff6c040d",
      "name": "Mensagens",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93ebf58b-7dba-4d78-8cf0-c341ac7c2aab",
              "leftValue": "={{ $('Mensagem').item.json.message }}",
              "rightValue": "={{ $json.messages.last() }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        512
      ],
      "id": "02f06a7f-b16f-4db5-a02d-505f68d8b1f5",
      "name": "Última mensagem?"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} temp"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        992,
        480
      ],
      "id": "c3209c43-469b-4be2-a6eb-30a957215bf7",
      "name": "Excluir lista temporária",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c323662d-6cce-4c9b-92b0-ce3ccff643c3",
              "name": "message",
              "value": "={{ $json.messages.join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        480
      ],
      "id": "7a4c376a-e0fb-4adb-ba81-45d9333d251a",
      "name": "Mensagem final"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2336,
        704
      ],
      "id": "501cd739-ba98-49df-bf28-acb112419bae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "S8C9EqEheMgC23NK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Formate e separe a seguinte mensagem:\n\n{{ $('AI Agent').item.json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\n### Certifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### As mensagens devem ser divididas de forma humanizada e legíveis para Whatsapp.\n\n### Nunca altere o texto original, remova as notações markdown quando presentes, deixando apenas texto simples com pontuações e acentuação das palavras.\n\n### Jamais separe uma mensagem vazia.\n\n### Use apenas texto simples, sem MARKDOWN, se existir markdown no texto original, altere para remover o markdown apenas.\n\n### Envie links em texto simples, na seguinte formatação de exemplo:\nhttps://{url}\n\n### O máximo de mensagens divididas é 4. Nunca deve existir mais do que 4 mensagens dentro do array \"messages\".\n\n### Nunca invente informação, apenas divida o texto original.\n\n### O texto final deve ser o texto original divido em mensagens menores (quando necessário).\n\n### Caso a mensagem já for curta, deixe o array com apenas uma mensagem.\n\n### Nunca invente nenhum link, nem altere a mensagem original, de forma alguma. É proíbido alterar a mensagem original, a não ser que seja para remover markdown do texto e ajustar links.\n\n### A resposta deve conter **apenas o JSON**, sem comentários, sem texto fora do objeto.\n\n### A chave principal deve ser `\"messages\"` no nível mais alto da estrutura.\n\n### O tipo de dado de cada item do array **deve ser string** e conter apenas texto direto (sem objetos ou aninhamentos).\n\n### O modelo deve garantir que a estrutura seja válida em JSON e compatível com um `Structured Output Parser`.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2368,
        464
      ],
      "id": "15c75797-446a-4d7b-8bf5-3529211ac670",
      "name": "Output Parser1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "message"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2768,
        464
      ],
      "id": "7bb15b83-050d-415e-9ea5-fc134b9749f8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3376,
        464
      ],
      "id": "f4fdd8e7-b501-41be-9f99-7a4fc2d3ddb0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const mensagens = item.json.messages || [];\n  \n  // Remove duplicados\n  const unicos = [...new Set(mensagens)];\n\n  // Retorna com a array limpa\n  return {\n    json: {\n      ...item.json,\n      messages: unicos\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        480
      ],
      "id": "b23687f7-5d96-4e97-9934-96700b30bc9d",
      "name": "Removendo Duplicatas"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2560,
        704
      ],
      "id": "19796fed-0cb8-4b65-9006-46803dedb6e6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const vistos = new Set();\n\n// Filtra itens únicos com base em item.json.message\nconst mensagensUnicas = items.filter(item => {\n  const texto = item.json.message;\n  if (vistos.has(texto)) return false;\n  vistos.add(texto);\n  return true;\n});\n\n// Retorna apenas objetos com { message: \"...\" }\nreturn mensagensUnicas.map(item => ({\n  json: {\n    message: item.json.message\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        464
      ],
      "id": "c82c3ec0-69f2-42e3-bffe-074697d9eec1",
      "name": "Remover mensagens duplicadas do agente"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2368,
        208
      ],
      "id": "34b01e85-0f87-4883-8c38-10d0a61d709b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bd8caa3-08f7-4182-bc85-7357ac966df3",
              "leftValue": "={{ $json.output }}",
              "rightValue": "#FIM",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        464
      ],
      "id": "d0a4c437-acaf-433d-adb1-6980ff3e5fdf",
      "name": "Ultima Mensagem?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62eff2fa-c496-4266-86a5-4eefbdd700c4",
              "leftValue": "={{ $('Mensagem de Texto').item.json.message }}",
              "rightValue": "#todoo",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3030cba9-7cde-43fe-baf9-c40833eb6fe9",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        400
      ],
      "id": "08f18aa3-a37e-48f5-b7d6-235c75bc755d",
      "name": "command word?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} talk",
        "value": "true",
        "expire": true,
        "ttl": 3000
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1232,
        160
      ],
      "id": "6f11228d-733a-44dd-bfcb-3830be8673bc",
      "name": "É a palavra chave começa a contagem",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "canSpeak",
        "key": "={{ $('Dados').item.json.session }} {{ $('Dados').item.json.phone }} talk",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1344,
        512
      ],
      "id": "bc099da3-b220-4dd5-9deb-b0a78cfeede5",
      "name": "Verifica Se a palavra ainda tem validade",
      "credentials": {
        "redis": {
          "id": "xe1OYB5NOZcwVVAB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4c4d003-ea37-4a49-a190-2c43a80ced3e",
              "leftValue": "={{ $json.canSpeak }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1136,
        512
      ],
      "id": "2b3e0790-a98f-4ebc-9d60-26b910ddb2da",
      "name": "Plavra ainda existe?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -912,
        592
      ],
      "id": "223f1fc9-8397-47a4-b91b-42072a0b2be3",
      "name": "Não faça nada: Se mantenha em silencio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c72817c-7ae5-45e9-baf5-4b34bad463d6",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3600,
        352
      ],
      "id": "0e625448-ba3b-4aa5-b747-9e0da9e6e864",
      "name": "isTheSameNumber?"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "isTheSameNumber?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignorar API": {
      "main": [
        [],
        [
          {
            "node": "Ignorar Grupos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignorar Grupos": {
      "main": [
        [],
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Mensagem de Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dados Mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1 MINI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Inserir mensagem do atendente",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Inserir mensagem do cliente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Ultima Mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digitar": {
      "main": [
        [
          {
            "node": "Esperar 3 Segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 3 Segundos": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Texto": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem": {
      "main": [
        [
          {
            "node": "command word?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Mídia": {
      "main": [
        [
          {
            "node": "Tipo de mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mídia": {
      "main": [
        [
          {
            "node": "Baixar Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio": {
      "main": [
        [
          {
            "node": "Transcrever",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever": {
      "main": [
        [
          {
            "node": "Mensagem de Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Áudio": {
      "main": [
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fromMe?": {
      "main": [
        [
          {
            "node": "Chave Block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Chave Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chave Block": {
      "main": [
        [
          {
            "node": "Inserir mensagem do atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Chave Block": {
      "main": [
        [
          {
            "node": "isBlocked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isBlocked?": {
      "main": [
        [
          {
            "node": "Inserir mensagem do cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem temporária": {
      "main": [
        [
          {
            "node": "10 Segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Segundos": {
      "main": [
        [
          {
            "node": "Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens": {
      "main": [
        [
          {
            "node": "Última mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Última mensagem?": {
      "main": [
        [
          {
            "node": "Excluir lista temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluir lista temporária": {
      "main": [
        [
          {
            "node": "Removendo Duplicatas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem final": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Visualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remover mensagens duplicadas do agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Digitar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Removendo Duplicatas": {
      "main": [
        [
          {
            "node": "Mensagem final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Remover mensagens duplicadas do agente": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ultima Mensagem?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output Parser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "command word?": {
      "main": [
        [
          {
            "node": "É a palavra chave começa a contagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica Se a palavra ainda tem validade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É a palavra chave começa a contagem": {
      "main": [
        [
          {
            "node": "fromMe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Se a palavra ainda tem validade": {
      "main": [
        [
          {
            "node": "Plavra ainda existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plavra ainda existe?": {
      "main": [
        [
          {
            "node": "fromMe?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não faça nada: Se mantenha em silencio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTheSameNumber?": {
      "main": [
        [
          {
            "node": "Ignorar API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f5070a7b-e2a4-4a22-bf1a-d97619567b87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92edcd34644deb24b8d793def5fd08ce4a89ec3cdad4e6fe6071ff4c82b9e4c2"
  },
  "id": "bMKecDsgT7ySAWX7",
  "tags": []
}